<div class="footer bg-dark text-white d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-2 text-center">
            <a routerLink="/home"><i class="fa fa-home footer-icon"></i></a>
        </div>
        <div class="col-2 text-center">
            <i class="fa-regular fa-square-plus footer-icon"></i>
        </div>
        <div class="col-2 text-center">
            <a routerLink="/search"><i class="fa-sharp fa-solid fa-magnifying-glass footer-icon"></i></a>
        </div>
        <div class="col-2 text-center">
            <i class="fa fa-user footer-icon"></i>
        </div>
        <div class="col-2 text-center">
            <i class="fa-regular fa-message footer-icon"></i>
        </div>
      </div>
    </div>
</div>
