<div class="main-container">
    <h1 class="title">RoadMate</h1>

    <div class="role-switch">
        <div class="btn-container">
            <button class="btn btn-primary" (click)="switchRole('driver')" [ngClass]="{'active': role === 'driver'}">Ver anuncios como conductor</button>
            <button class="btn btn-primary" (click)="switchRole('passenger')" [ngClass]="{'active': role === 'passenger'}">Ver anuncios como pasajero</button>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngFor="let anuncio of myAds">
                <div class="card">
                  <div class="card-inner">
                    <div class="card-body">              
                        <h2 class="card-title">{{ anuncio.name }}</h2>
                        <div class="info-blocks">
                            <div class="info-block info-card"><b><em>Fecha: </em></b>{{ anuncio.date }}</div>
                            <div class="info-block info-card"><b><em>Horario: </em></b>{{ anuncio.schedule }}</div>
                            <div class="info-block info-card"><b><em>Punto de recogida: </em></b>{{ anuncio.pickupAddress }}</div>
                            <div class="info-block info-card"><b><em>Fin de trayecto: </em></b>{{ anuncio.dropAddress }}</div>
                            <div class="info-block info-card"><b><em>Asientos libres: </em></b>{{ anuncio.freeSeat }}</div>
                            <div class="info-block info-card"><b><em>Teléfono: </em></b>{{ anuncio.phone }}</div>
                            <div class="info-block info-card"><b><em>Precio: </em></b>{{ anuncio.price }}€</div>
                            
                        </div>
                        <div class="card-button-container">
                            <button class="btn btn-cancel" (click)="cancelAd(anuncio)" [ngClass]="{'active': selectedAd === anuncio}"><b>Cancelar Viaje</b></button>
                            <button class="btn btn-map" (click)="showMap(anuncio)"><b>Mapa</b></button>
                            <button class="btn btn-contact" (click)="contactUser(anuncio)" *ngIf="role === 'passenger'" [ngClass]="{'active': selectedAd === anuncio}"><b>Contactar con {{ anuncio.name }}</b></button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
