.main-container {
  text-align: center;
  padding: 50px 0;
}

.title {
  font-weight: bold;
  color: #FF4848;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container .card {
  flex: 1 0 calc(50% - 2rem);  
  margin: 1rem;
  box-sizing: border-box;
  max-width: calc(50% - 2rem);
}

.card {
  margin-bottom: 30px;
  background-color: #e73838; /* Color de fondo del reborde exterior */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-inner {
  background-color: #fff; /* Color de fondo del reborde interior */
  margin: 15px; /* Ancho del reborde exterior */
  padding: 10px; /* Espacio entre el reborde interior y el contenido de la tarjeta */
  border-radius: 5px; /* Radio de borde del reborde interior */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}



.container {
  margin-bottom: 50px;
}

.btn-spacing {
  margin: 7px;
}

.card-button-container {
  display: flex;
  justify-content: space-between;
}

.role-switch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: calc(50% - 2rem);
}

.btn-cancel {
  color: black;
  background-color: #fff;
  border: 1px solid black;
  margin-right: 10px;
}

.btn-contact {
  color: black;
  background-color: #fff;
  border: 1px solid black;
  margin-right: 10px;
}
.btn-map {
  color: black;
  background-color: #fff;
  border: 1px solid black;
  margin-right: 10px;
}

.btn-container button {
  color: black;
  background-color: #fff;
  border: 1px solid black;
  margin-right: 10px;
}

.btn-container button.active {
  color: #fff;
  background-color: #FF4848;
  border: none;
}


.card-button-container button.btn-cancel {
  color: black;
  background-color: #fff;
  border: 1px solid black;
}

.card-button-container button.btn-contact {
  color: black;
  background-color: #fff;
  border: 1px solid black;
}


.info-block-inner {
  background-color: #fff;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.info-blocks {
  border: 1px solid #000; /* Borde alrededor de todos los bloques de información */
  border-radius: 10px; /* Bordes redondeados en la parte superior */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin: 10px 0;
  padding: 0; /* Eliminamos el padding */
}

.info-card {
  padding: 10px; /* Movemos el relleno a cada celda */
  margin: 0; /* Eliminamos los margenes */
}

.info-block {
  padding: 10px;
  border-top: 1px solid #000;
}

.info-block:first-child {
  border-top: none; /* Esto evitará que el primer bloque de información tenga un borde superior */
}





