.container {
    display: flex;
    flex-direction: column;
    height: 90vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  }
  
  .messages {
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
  }
  
  .message {
    max-width: 80%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
  }
  
  .message-right {
    margin-left: auto;
    background-color: #d1e7dd;
  }
  
  .message-left {
    background-color: #f0f0f0;
  }
  .send-message input {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  .send-message {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    /* Asegura que la barra de enviar mensaje se mantenga en la parte inferior */
    position: sticky;
    bottom: 0;
  }
  .send-message button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }
  
  .send-message button i {
    margin-right: 0px; /* Ajusta el valor según tus necesidades */
    line-height: 1;
  }
  
  