<div class="main-container">
    <h1 class="title mb-3">RoadMate</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="image-container mb-3">
                  <!--<img src="./assets/amigosCoche.jpeg" class="img-fluid">-->
                </div>
                <h2 class="text-center mb-3">Publicar Anuncio</h2>
                <form>
                <div class="form-group py-2">
                    <div class="form-group">
                        <label class="txt"></label>
                        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="nombre" name="horario">
                    </div>
                    <div class="form-group">
                        <label class="txt"></label>
                        <input type="text" class="form-control" placeholder="Asientos Libres" [(ngModel)]="asientosLibres" name="horario">
                    </div>
                    <div class="form-group">
                        <label class="txt"></label>
                        <input type="text" class="form-control" placeholder="Precio" [(ngModel)]="precio" name="horario">
                    </div>
                    <div class="form-group">
                        <label class="txt"></label>
                        <input type="text" class="form-control" placeholder="Número de teléfono" [(ngModel)]="telefono" name="horario">
                    </div>
                    <div class="form-group">
                        <label class="txt"></label>
                        <input type="text" class="form-control" placeholder="Dirección Origen" [(ngModel)]="origen" name="origen">
                    </div>
                    <div class="form-group">
                        <label class="txt"></label>
                        <input type="text" class="form-control" placeholder="Dirección Destino" [(ngModel)]="destino" name="destino">
                    </div>
                    <div class="form-group">
                        <label class="txt"></label>
                        <input type="text" class="form-control" placeholder="dia-mes-año" [(ngModel)]="fecha" name="fecha">
                    </div>
                    <div class="form-group">
                        <label class="txt"></label>
                        <input type="text" class="form-control" placeholder="Hora:Minutos" [(ngModel)]="horario" name="horario">
                    </div>
                    <button class="btn btn-primary" (click)="PublicarAnuncio()">Publicar Anuncio</button>
                    </div>
                </form>
        </div>
    </div>
    </div>
</div>

