.perfil img {
    border-radius: 50%;
    width: 150px; /* Ajusta el tamaño de la imagen aquí */
    height: 150px; /* Asegúrate de que el ancho y el alto sean iguales para mantener la imagen circular */
    background-color: black;
}
  