<div class="main-container">
    <h1 class="title">RoadMate</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" *ngFor="let anuncio of ads">
                <div class="card">
                    <div class="card-inner">
                        <div class="card-body">
                            <h2 class="card-title">{{ anuncio.name }}</h2>
                            <div class="info-blocks">
                                <div class="info-block"><b><em>Fecha: </em></b>{{ anuncio.date }}</div>
                                <div class="info-block"><b><em>Horario: </em></b>{{ anuncio.schedule }}</div>
                                <div class="info-block"><b><em>Punto de recogida: </em></b>{{ anuncio.pickupAddress }}</div>
                                <div class="info-block"><b><em>Fin de trayecto: </em></b>{{ anuncio.dropAddress }}</div>
                                <div class="info-block"><b><em>Asientos libres: </em></b>{{ anuncio.freeSeat }}</div>
                                <div class="info-block"><b><em>Teléfono: </em></b>{{ anuncio.phone }}</div>
                                <div class="info-block"><b><em>Precio: </em></b>{{ anuncio.price }}€</div>
                            </div>
                            <button class="btn btn-primary" (click)="addAdvertismentBtn(anuncio)">Ver anuncio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
